@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 32px;
}

row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.nav__container {
  height: 60px;
  display: flex;
  margin: 0px auto;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  color: #243E63;
  max-width: 1280px;
}

.nav__logo {
  display: flex;
  justify-content: space-around;
  margin-right: 24px;
  align-items: center;
  font-weight: 900;
  color: #243E63;
  font-size: 24px;
  font-weight: 900;
}

.logo {
  width: 40px;
  max-width: 100%;
  height: auto;
  margin: 0 12px 0 0;
  padding: 0 0 4px 0;
}

ul {
  font-weight: 600;
  font-size: 16px;
}

.nav__links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
}

.nav__link {
  margin: 0 20px;
  color: rgb(36, 62, 99);
}

.nav__link--login {
  margin: 0 24px 0 48px;
  color: rgb(36, 62, 99);
}

.button-purple {
  background-color: rgb(100, 21, 255);
  border-color: transparent rgb(100, 21, 255);
  border: 1px solid;
  font-weight: 600;
  color: white;
  border-radius: 100px;
}

.nav__logo--btn {
  font-size: 16px;
  padding: 12px 32px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: inherit;
}

h1 {
  font-size: 48px;
}

h2 {
  color: rgb(36, 62, 99);
  font-size: 48px;
  font-weight: 900;
}

h6 {
  font-size: 20px;
  color: #243e63;
}

p {
  font-size: 12px;
  color: #a0aec0;
  font-weight: 700;
}

/* TEMPLATE */

#template__container {
  /* background-color: rgb(241, 241, 241); */
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 96px 0;
  height: calc(100vh - 60px);
}

.template__row {
  display: flex;
  justify-content: space-between;
}

.template__leftside {
  width: 40%;
  flex-direction: column;
  display: flex;
}

.text--color {
  color: rgb(100, 21, 255);
}

.template__paragraph {
  font-size: 16px;
  margin: 32px 0;
}

.template__action--fields {
  padding-left: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid 2px lightgray;
  border-radius: 100px;
  flex-wrap: wrap;
  max-height: 73px;
}

.template__Email--input {
  border: none;
  background-color: transparent;
  font-size: 16px;
  outline: none;
}

.template__getstarted--btn {
  margin: 8px 8px 8px 0;
  padding: 16px 40px;

  font-size: 16px;
}

.template__twoBottomColumns {
  margin: 80px 0 0;
  align-items: flex-end;
}


.customers__logo {
  width: 100%;
  margin: 16px 0 0;
  padding: 0 64px 0 0;
  opacity: 0.5;
}

.template__rightside {
  width: 60%;
  flex-wrap: wrap;
  display: block;
}

.template__rightside--image {
  max-width: 100%;
  max-height: 100%;
}


/* SERVICES */


.services__container {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
  height: calc(100vh - 35px);
}

.services__head--subheading {
  margin: 0 0 16px;
}

.services__head--paragraph {
  font-size: 18px;
  margin: 16px auto;
  text-align: center;
  max-width: 480px;
  font-weight: normal;
}


.services__subheading {
  font-weight: 700;
  font-size: 16px;
}

.services_space {
  margin-top: 2.5rem;
  width: 100%;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service {
  margin: 0 16px;
  padding: 32px 8px;
  display: flex;
  flex-direction: row;
  text-align: left;
  width: calc(100%/3);
  max-width: 309px;
}

.service__image {
  border: 2px solid #a0aec0;
  border-width: 1px;
  border-radius: 300px;
  padding: 1.25rem;
  align-items: flex-start;
}


.service__description {
  margin: 8px 0 0 16px;
  display: flex;
  flex-direction: column;

}

.service__paragraph {
  margin: 16px 0 0;
  font-size: 16px;
  font-weight: normal;
}

.title {
  font-size: 24px;
  font-weight: 700;
}

/* QUALITY WORK */

.qualityWork__container {
  height: 100vh;
}

.qualityWork__row {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.qualityWork__leftSide {
  text-align: left;
  padding: 32px 0;
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

.qualityWork__head--subheading {
  font-size: 16px;
}

.qualityWork__head {
  margin: 16px 0 0;
}

.qualityWork__head--paragraph {
  margin: 16px 0 0;
  font-size: 18px;
  font-weight: 500;
  max-width: 576px;
}

.qualityWork__learnMore--btn {
  margin: 32px 0 0;
  font-size: 18px;
  width: 148px;
  height: 48px;

}

.qualityWork__rightSide {
  max-width: 50%;
}

.qualityWork__image {
  max-width: 100%;
  border: 1px solid #dce4ee;
  border-radius: 4px;
}

/* GET STARTED */

.getStarted__container {
  height: 100vh;
}

.getStarted__row {
  display: flex;
  max-width: 1280px;
  align-items: center;
  justify-content: center;
}


.getStarted__leftSide {
  max-width: 50%;
}

.getStarted__image {
  max-width: 100%;
}

.getStarted__rightSide {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 40px;
  padding: 32px 0;
}

.getStarted__head--subheading {
  font-size: 16px;
}

.getStarted__head {
  margin-top: 20px;
  font-weight: 800;
}

.getStarted__list {
  margin-top: 28px;
}

.getStarted__listItem {
  display: flex;
  margin: 32px 0 0;
  max-width: 20rem;
}

.getStarted__stepNumber {
  font-size: 36px;
  color: #cbd5e0;
}

.getStarted__columnTexts {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 24px;
}

.getStarted__paragraph {
  font-size: 14px;
  margin: 12px 0 0;
  font-weight: 500;
}

/* PLANS */

.plans__container {
  height: 100vh;
  text-align: center;
}

.plans {
  justify-content: center;
}

.plans__head {
  text-align: center;
}

.plans__row {
  max-width: 1600px;
  align-items: center;
  justify-content: center;
}


.plans__head--subheading {
  margin-bottom: 20px;
}


.plans__head--paragraph {
  font-size: 18px;
  text-align: center;
  max-width: 576px;
  font-weight: normal;
  margin: 16px auto 0 auto;
}

.plans__subheading {
  font-weight: 700;
  font-size: 16px;

}

.allPlans {
  display: flex;


}

.plan__leftSide,
.plan__middleSide,
.plan__rightSide {
  border: 1px transparent;
  border-radius: 8px;
  position: relative;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin-top: 40px;
  color: #1A202c;
  max-width: 24rem;
  margin: 40px auto 0 auto;
}

.topBar {
  border: 1px transparent #a0aec0;
  background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 8px;
}

.plan__leftSide {
  margin-right: 40px;
}

.topBarLeft {
  background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__leftSide {}

.plan__header {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  line-height: 1.625;
  border-bottom: 1px solid #e5e7eb;
}

.name {
  font-size: 20px;
  font-weight: 700;
}

.price {
  font-size: 48px;
  margin: 4px 0;
  font-weight: 700;
  color: #1A202c;
}

.duration {
  font-size: 16px;
  font-weight: 700;
  color: #a0aec0;
}

.plan__features {
  margin: 0 -32px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e5e7eb;
}

.plan__mainFeature {
  font-size: 20px;
  font-weight: 700;


}

.plan__feature {
  margin-top: 20px;
  font-size: 16px;
  color: #718096;
  font-weight: 500;
}

.plan__action {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 32px 64px;
}

.plan__buynow--btn{
  border: transparent;
  background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-radius: 9999px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  font-size: 0.875rem;
  max-width: 192px;
  color: white;
  font-weight: 500;
}