@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  padding: 32px;
}

row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

ul {
  font-weight: 600;
  font-size: 14px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: inherit;
}

h1 {
  font-size: 48px;
}

h2 {
  color: rgb(36, 62, 99);
  font-size: 48px;
  font-weight: 900;
}

h6 {
  font-size: 20px;
  color: #243e63;
  font-weight: 500;
}

p {
  font-size: 12px;
  color: #a0aec0;
  font-weight: 700;
}

.button-purple {
  background-color: rgb(100, 21, 255);
  border-color: transparent rgb(100, 21, 255);
  border: 1px solid;
  font-weight: 600;
  color: white;
  border-radius: 100px;
  transition: all 300ms ease;
  cursor: pointer;
}

.button-purple:hover {
  cursor: pointer;
  background-color: rgba(80, 17, 204)
}

.button-purple:active {
  border: solid rgb(117, 181, 218);
}

/* MENU BACKDROP */

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  border: none;
  color: #243E63;
  display: none;
  transition: all 300ms ease;
  position: relative;
}

.btn__menu:hover {
  color: rgb(100, 21, 255);
  cursor: pointer;
}

.menu__backdrop {
  position: absolute;
  background-color: white;
  top: 2.5%;
  left: 2.5%;
  right: 2.5%;
  bottom: 2.5%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  visibility: hidden;
  transition: all 300ms ease;
  opacity: 0;
  border: 1px solid #cbd5e0;
  border-radius: 16px;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
  transform: translate(0);
}

.btn__menu--close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 8px;
  color: #243E63;
  ;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}

.menu__list {
  padding: 16px 0;
  margin: 15%;
}

.menu__link {
  color: rgb(36, 62, 99);
  border: 2px;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.025em;
}

.menu__logo--btn {
  font-size: 18px;
  padding: 12px 36px;
  border-color: transparent;
  margin: 15% 0;
}



/* LANDING / NAV */

.nav__container {
  height: 60px;
  display: flex;
  margin: 0px auto;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  color: #243E63;
  max-width: 1280px;
}

.nav__logo {
  display: flex;
  justify-content: space-around;
  margin-right: 24px;
  align-items: center;
  font-weight: 900;
  color: #243E63;
  font-size: 24px;
  font-weight: 900;
}

.logo {
  width: 40px;
  max-width: 100%;
  height: auto;
  margin: 0 12px 0 0;
  padding: 0 0 4px 0;
}

.nav__links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
}

.nav__link {
  margin: 0 20px;
  color: rgb(36, 62, 99);
  border-bottom: 10px solid transparent;
  padding-bottom: 2px;
}

.link__hover-effect:hover,
.menu__link:hover {
  --tw-text-opacity: 1;
  color: rgba(100, 21, 255, var(--tw-text-opacity));
  --tw-border-opacity: 1;
  border-bottom: 2px solid;
  border-color: rgba(100, 21, 255, var(--tw-border-opacity))
}

.nav__link--login {
  margin: 0 24px 0 48px;
  color: rgb(36, 62, 99);
  padding-bottom: 2px;
}


.nav__logo--btn {
  font-size: 14px;
  padding: 8px 24px;
  border-color: transparent;
}

/* TEMPLATE */

#template__container {
  /* background-color: rgb(241, 241, 241); */
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 10% 0;
  height: calc(100vh - 60px);
}

.template__row {
  display: flex;
  justify-content: space-between;
}

.template__leftside {
  width: 40%;
  flex-direction: column;
  display: flex;
}

.text--color {
  color: rgb(100, 21, 255);
}

.template__paragraph--first {
  font-size: 18px;
  color: #a0aec0;
  margin: 32px 0;
  font-weight: normal;
  color: #243e63;
}

.template__paragraph--second {
  font-size: 14px;
  color: #a0aec0;
  font-weight: 500;
  letter-spacing: 0.05em;
}


.template__action--fields {
  position: relative;
  max-width: 28rem;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
}

.template__Email--input {
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 9999px;
  width: 100%;
  font-weight: 400;
  transition-duration: 300ms;
  border: 2px solid #e5e7eb;
  font-size: 16px;
  min-height: 68px;
  outline: none;
}

.template__Email--input::placeholder {
  color: #a0aec0;
}

.template__Email--input:focus {
  border: 2px solid #6415FF;
}

.template__Email--input:hover {
  border: solid 2px;
  border-color: rgba(160, 174, 192);
}

.template__getstarted--btn {
  position: absolute;
  min-width: 160px;
  min-height: 52px;
  max-height: 52px;
  font-size: 16px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  --tw-bg-opacity: 1;
  background-color: rgba(100, 21, 255, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(247, 250, 252, var(--tw-text-opacity));
  font-weight: 700;
  margin-right: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 9999px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  transition-duration: 300ms;
  border: transparent;
}

.template__twoBottomColumns {
  margin: 80px 0 0;
  align-items: flex-end;
}

.template__paragraph {
  font-size: 14px;
}

.customers__logo {
  width: 100%;
  margin: 16px 0 0;
  padding: 0 64px 0 0;
  opacity: 0.5;
}

.template__rightside {
  width: 60%;
  flex-wrap: wrap;
  display: block;
}

.template__rightside--image {
  max-width: 100%;
  max-height: 100%;
}


/* SERVICES */


.services__container {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
  height: calc(100vh);
}

.services__head--subheading {
  margin: 0 0 16px;
}

.services__head--paragraph {
  font-size: 18px;
  margin: 16px auto;
  text-align: center;
  max-width: 480px;
  font-weight: normal;
}

.services__subheading {
  letter-spacing: 0.1em;
  font-weight: 700;
  font-size: 16px;
}

.services_space {
  margin-top: 2.5rem;
  width: 100%;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service {
  margin: 0 16px;
  padding: 32px 8px;
  display: flex;
  flex-direction: row;
  text-align: left;
  width: calc(100%/3);
  max-width: 309px;
}

.service__image {
  border: 2px solid #a0aec0;
  border-width: 1px;
  border-radius: 300px;
  padding: 1.25rem;
  align-items: flex-start;
}

.service__description {
  margin: 8px 0 0 16px;
  display: flex;
  flex-direction: column;

}

.service__paragraph {
  margin: 16px 0 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 2;

}

.title {
  font-size: 24px;
  font-weight: 700;
}

/* QUALITY WORK */

.qualityWork__container {
  height: 100vh;
}

.qualityWork__row {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.qualityWork__leftSide {
  text-align: left;
  padding: 32px 0;
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

.qualityWork__head--subheading {
  font-size: 16px;
}

.qualityWork__head {
  margin: 16px 0 0;
}

.qualityWork__head--paragraph {
  margin: 16px 0 0;
  font-size: 18px;
  font-weight: 500;
  max-width: 576px;
}

.qualityWork__learnMore--btn {
  margin: 32px 0 0;
  font-size: 18px;
  width: 148px;
  height: 48px;
  border-color: transparent;
}

.qualityWork__rightSide {
  max-width: 50%;
}

.qualityWork__image {
  max-width: 100%;
  border: 1px solid #dce4ee;
  border-radius: 4px;
}

/* GET STARTED */

.getStarted__container {
  height: 100vh;
}

.getStarted__row {
  display: flex;
  max-width: 1280px;
  align-items: center;
  justify-content: center;
}


.getStarted__leftSide {
  max-width: 50%;
}

.getStarted__image {
  max-width: 100%;
}

.getStarted__rightSide {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 40px;
  padding: 32px 0;
}

.getStarted__head--subheading {
  font-size: 16px;
  letter-spacing: 0.1em;
}

.getStarted__head {
  margin-top: 20px;
  font-weight: 800;
}

.getStarted__list {
  margin-top: 12px;
}

.getStarted__listItem {
  display: flex;
  margin: 32px 0 0;
  max-width: 20rem;
}

.getStarted__stepNumber {
  font-size: 36px;
  color: #cbd5e0;
}

.getStarted__columnTexts {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 24px;
}

.getStarted__paragraph {
  font-size: 14px;
  margin: 12px 0 0;
  font-weight: 400;
}

/* PLANS */

#plans {
  height: 100vh;
  text-align: center;
  position: relative;
}

#plans {
  justify-content: space-between;
  align-items: center;
  padding-bottom: 6rem;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0rem;
  padding-bottom: 10rem;
  min-height: 932px;
}

.plans__head {
  text-align: center;
}

.plans__row {
  margin: 0 auto;
  max-width: 1280px;
  align-items: center;
}

.plans__head--subheading {
  margin-bottom: 20px;
}

.plans__head--paragraph {
  font-size: 18px;
  text-align: center;
  max-width: 576px;
  font-weight: normal;
  margin: 16px auto 0 auto;
}

.plans__subheading {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.1em;

}

.allPlans {
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}

.plan__leftSide,
.plan__middleSide,
.plan__rightSide {
  overflow: hidden;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  position: relative;
  flex-direction: column;

  text-align: center;
  margin-top: 40px;
  color: #1A202c;
  max-width: 24rem;
  margin: 40px auto 0 0;
  padding: 8px 32px 0 32px;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.topBar {
  border: 1px transparent #a0aec0;
  background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 8px;
  z-index: 99;
}

.plan__leftSide {
  margin-right: 40px;
}

.topBarLeft {
  background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__header {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  line-height: 1.625;
  border-bottom: 1px solid #e5e7eb;
}

.name {
  font-size: 20px;
  font-weight: 700;
}

.price {
  font-size: 48px;
  margin: 4px 0;
  font-weight: 700;
  color: #1A202c;
}

.duration {
  font-size: 16px;
  font-weight: 700;
  color: #a0aec0;
  letter-spacing: 0.1em;
}

.plan__features {
  margin: 0px 0px;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e5e7eb;
  font-weight: 500;
}

.plan__mainFeature {
  font-size: 20px;
  font-weight: 700;
}

.plan__feature {
  margin-top: 20px;
  font-size: 16px;
  color: #718096;
}

.plan__action {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 32px 64px;
}

.plan__buynow--btn-seablue,
.plan__buynow--btn-blue,
.plan__buynow--btn-red {
  border: transparent;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  border-radius: 9999px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  font-size: 0.875rem;
  min-width: 176px;
  max-width: 192px;
  min-height: 53px;
  font-weight: 500;
  transition: all 400ms ease;
}

.plan__buynow--btn-seablue {
  background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  color: white;
}


.plan__middleSide {
  background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
  color: white;
  margin: 40px 40px 0 0;
  padding-left: 2rem;
  padding-right: 2rem;
}

.price__middle {
  font-size: 48px;
  margin: 4px 0;
  font-weight: 700;
}

.duration__middle {
  font-weight: 500;
  letter-spacing: 0.1em;
}

.plan__middle--mainFeature {
  font-size: 20px;
  font-weight: 700;
}

.plan__middle--feature {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #e2e8e2;
}

.plan__buynow--btn-blue {
  background: white;
  color: #6415FF;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.plan__rightSide {
  margin-right: 40px;
}

.topBarRight {
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__buynow--btn-red {
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
  color: white;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.link__hover-effect--buyNow:hover {
  --tw-translate-x: 1px;
  --tw-translate-y: -1px;
  cursor: pointer;
  box-shadow: 0 8px 16px rgb(0 0 0 / 14%);
}

.link__hover-effect--buyNow:focus {
  --tw-translate-x: 1px;
  --tw-translate-y: -1px;
  outline: solid 2px #b4d2ff;
}

/* FOOTER */

#footer {
  background-color: rgb(100, 21, 255);
  margin: 64px -32px -34px -32px;
  height: 500px;
}

.footer__row {
  padding-top: 3rem;
  margin: 0 32px 0 32px;
}

.footer__container {
  margin: 0 auto;
  max-width: 1280px;
}

.footer__fiveColumns {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 4rem;
  border-bottom: 0.5px solid #b3aacc69;
}

.footer__column {
  margin: 48px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column__heading {
  font-size: 16px;
  color: #F7FAFC;
  font-weight: 700;
}

.column__unorderedList {
  margin-top: 1.5rem;
}

.column__link {
  margin-top: 16px;
}

.column__link--text {
  font-size: 14px;
  color: #F7FAFC;
  font-weight: 500;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  border-bottom-width: 2px;
  border-color: transparent;
  transition-duration: 300ms;
  padding-bottom: 0.2rem;
}

.column__link--text:hover {
  cursor: pointer;
  --tw-border-opacity: 1;
  border-bottom: 2px solid;
  border-color: #F7FAFC
}

.footer__threeColumns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
  border-top: 1px solid #b3aacc69;
  margin-bottom: 40px;
  padding-bottom: 40px;
}

.threeColumns__logo {
  display: flex;
  justify-content: space-around;
  margin-right: 24px;
  align-items: center;
  color: #243E63;
}

.footer__logo {
  width: 32px;
  max-width: 100%;
  height: auto;
  margin: 0 12px 0 0;
  border: 2px solid #F7FAFC;
  background-color: #F7FAFC;
  border-radius: 2px;
}

.footer__text {
  font-size: 20px;
  color: #F7FAFC;
}

.footer__paragraph {
  font-size: 16px;
  color: #cbd5e0;
  font-weight: 500;
}

.threeColumns__socialLinks {
  display: flex;
}

.threeColumns__socialLink {
  margin-right: 16px;
  background-color: #F7FAFC;
  display: inline-block;
  border-radius: 60px;
  padding: 0.4em 0.5em;
  color: black;
  transition: all 300ms ease;
}

.threeColumns__socialLink:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(203, 213, 224, var(--tw-bg-opacity));
}

/*  SMALLER MONITORS 

@media (max-width: 1280px) {

  #plans{
    min-height: 2050px;
  }
  .allPlans {
    flex-direction: column;
    min-height: 1900px;
}
}*/


/* TABLETS, SMALLER MONITORS */

@media (max-width: 1024px) {
  #template__container {
    flex-direction: column;
    margin: 0 auto;
    justify-content: stretch;
    height: calc(100vh + 100px);
  }

  .template__row {
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    min-height: 100px;
    align-items: center;
  }

  .template__leftside,
  .template__rightside {
    width: 60%;
    max-width: 32rem;
  }

  #plans {
    min-height: 2050px;
  }

  .allPlans {
    flex-direction: column;
    min-height: 1900px;
  }

  .btn__menu {
    display: block;

  }

  .nav__links {
    display: none;
  }

  .plan__leftSide,
  .plan__middleSide,
  .plan__rightSide {
    margin: 4rem 0 0 0;
  }


}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */

@media (max-width: 772px) {


  #template__container,
  #services,
  #qualityWork,
  #getStarted,
  #plans {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .template__leftside {
    width: 100%;
    text-align: center;
  }

  h1 {
    font-size: 30px;
  }


  .template__twoBottomColumns {
    margin: 48px 0;
  }

  .template__paragraph--first {
    margin: 20px 0;
    font-size: 16px;
    font-weight: normal;
  }

  .template__paragraph--second {
    font-size: 16px;
    color: #a0aec0;
    margin: 0;
    font-weight: 500;
    letter-spacing: 0.05em;
  }


  .template__action--fields {
    margin-left: auto;
    margin-right: auto;
  }

  .template__Email--input {
    min-width: 448px;
  }

  .customers__logo {
    padding: 0;
    width: 100%;
  }

  .template__rightside {
    width: 100%;
  }

  .services__container {
    height: 100%;
  }

  .services {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
  }


  .service {
    width: 100%;
  }

  .qualityWork__row {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    min-height: 100vh;
    height: 100vh;
  }

  .qualityWork__rightSide {
    max-width: 100%;
    margin: 0 auto;
  }

  .qualityWork__image {
    width: 100%;
    max-width: 28rem;
    margin-left: auto;
    margin-right: auto;
  }

  .qualityWork__leftSide {
    max-width: 100%;
    text-align: center;
    align-items: center;
    margin: 0 auto;
  }

  .qualityWork__head {
    font-size: 36px;
  }

  .qualityWork__head--paragraph {
    font-size: 14px;
  }

  #getStarted {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .getStarted__row {
    flex-direction: column;
    height: 100vh;
  }

  .getStarted__leftSide {
    width: 100%;
    max-width: 28rem;
    margin-left: auto;
    margin-right: auto;
  }

  .getStarted__rightSide {
    margin: 0;
    max-width: 100%;
    align-items: center;
    margin-top: 4rem;
  }

  .getStarted__head {
    text-align: center;
    width: 100%;
    font-size: 36px;
  }

  .getStarted__listItem {
    align-items: center;
    flex-direction: column;
  }

  .getStarted__columnTexts {
    align-items: center;
    text-align: center;
    margin: 8px 0 0 0;
  }



  .getStarted__paragraph {
    font-size: 14px;
    font-weight: 500;
    margin-top: 12px;
    line-height: 2;
  }

  #plans {
    min-height: 2340px;
  }

  .plan__leftSide,
  .plan__middleSide,
  .plan__rightSide {
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
  }

  #footer {
    height:100%;
    padding-bottom: 32px;
    margin-bottom: -32px;
  }

  .footer__container{
    justify-content: center;
    width: 100%;
    margin: 0;
  }

  .footer__fiveColumns {
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    margin-top: 20px;
 
  }

  .footer__column{
    width: calc(100%/3);
  }
  
  .footer__threeColumns{
  flex-direction: column;
  margin-bottom: 0;
  }

  .threeColumns__logo{
    margin: 0;

  }

  .nav__logo, .footer__paragraph, .threeColumns__socialLinks {
  margin: 16px 0;
  }


}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */

@media (max-width: 620px) {

  .template__leftside{
    align-items: center;
    justify-content: center;
  }

  .template__action--fields{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: max-content;
    margin: 0;

  }

  .template__Email--input {
    min-height: 60px;
    width: 100%;
    min-width:unset;
  }

.template__getstarted--btn{
  min-width: max-content;
  margin:16px 0px;
  position:unset;
  height: 56px;
  max-height: 100%;
  width: 100%;
  min-width: unset;
  
}

}